 [Unit]

Description=Dunst low battery notification service

After=dunst.service

[Service]

Type=simple

ExecStart=/bin/bash /home/filippo/.config/dunst/script/battery.sh

Restart=always

RestartSec=30

Environment="DISPLAY=:0" "XAUTHORITY=/home/filippo/.Xauthority"

[Install]

WantedBy=default.target 
